# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# Local Databases
backend/mongodb_data/
*.db
*.sqlite

# Production Builds
dist/
build/

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
